<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Section</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link href="./css/hero-section.css" rel="stylesheet" />
  </head>
  <body>
    <header class="section-hero">
      <nav class="container">
        <div>LOGO</div>
        <div>NAVIGATION</div>
      </nav>
      <div class="container">
        <h1>A healthy meal delivered to your door, every single day</h1>
        <p>
          The smart 365-days-per-year food subscription that will make you eat
          healthy again. Tailored to your personal tastes and nutritional needs
        </p>
        <a href="#" class="btn">Start eating well</a>
      </div>
    </header>
    <section>
      <div class="container">
        <h2>Some random heading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
          dolorem sint commodi voluptatum id, quo molestiae eligendi magni
          eveniet voluptas! Praesentium, laborum atque voluptatem optio numquam
          aliquam nam dolorem placeat sunt ex deleniti minus quidem pariatur
          beatae, delectus voluptatum corporis. Vero molestias recusandae minima
          ut quam, accusantium sit, sequi earum dolore quisquam quaerat
          blanditiis eligendi perspiciatis doloribus iure?
        </p>
      </div>
    </section>
  </body>
</html>
