body {
  height: 100vh;
  font-size: 24px;
  color: #343a40;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto 1fr;
  text-align: center;
  font-weight: bold;
}

nav {
  background-color: #343a40;
  color: #fff;
  grid-row: 1 / -1;
}

nav,
menu,
section,
main,
aside {
  padding: 24px;
}

menu {
  background-color: #7048e8;
  grid-column: 2 / -1;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

menu button {
  display: inline-block;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #5f3dc4;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

menu button:last-child {
  margin-left: auto;
  background-color: #d6336c;
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #e9ecef;
  overflow: scroll;
}

section button {
  font-size: 18px;
  border: none;
  padding: 12px 24px;
  background-color: #adb5bd;
}

aside {
  background-color: #e9ecef;
}
